$background-first-color: #FFE803;
$background-second-color: #C0ED70;
$background-third-color: #D4E157;
$banner-color: #83a93f;
$text-color: rgba(0, 0, 0, 0.54);
$nav-text-color: #464A3F;
$button-color: rgb(255, 23, 68);
$placeholder-color: rgba(255, 23, 68, 0.27);
